@import "../../mixin.css";

.dropdown {
  position: relative;
  display: inline-block;
  float: right;

  .dropdown-content {
    @mixin dropdown-content;

    right: 0;

    &-top {
      @mixin dropdown-content;

      right: auto;
      bottom: 0;
      margin-bottom: 53px;
    }
  }

  [data-active] {
    display: block;
  }
}
