.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in {
    padding: 25px;
    background: var(--bg-message);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    color: var(--text-color);
    width: 100%;
    max-width: 340px;

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
