<div id="myModal" class="modal">

  <div class="modal-content">

    <h3>Добавить пользователя</h3>
    <form>
      {{> input/input type="text" name="login" placeholder="Логин" }}
      {{> button/button type="submit" value="Добавить" }}
    </form>
  </div>

</div>
