.text-field {
  &__input[type="text"],
  &__input[type="password"],
  &__input[type="email"],
  &__input[type="tel"] {
    width: 100%;
    padding: 10px 14px;
    margin: 8px 0 4px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--text-color);
    background: inherit;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }

  &__input[type="file"] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  &__label {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--text-color);

    .file {
      display: flex;
      max-width: 120px;
      margin: 0 50px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-decoration-line: underline;
      color: var(--link-color);
      cursor: pointer;
    }
  }

  &__message {
    visibility: hidden;
    font-size: 11px;
    line-height: 11px;
    color: var(--error-color);
    margin-bottom: 8px;

    &.visible {
      visibility: visible;
    }
  }
}
