<a href="profile" class="profile-link">Профиль 🡢</a>
{{> inputChat placeholder="Поиск" icon_search="icon-search" }}
<div class="contact-card-list-wrapper">
  <ul class="contact-card-list">
    {{#each modifiedChatsReply}}
      {{> contactCard img=../img item=this}}
    {{/each}}
  </ul>
</div>
