.message {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 10px;
  padding: 10px;
  border-radius: 0 10px 10px;
  background: var(--bg-message);
  width: fit-content;
  white-space: pre-line;

  .message-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: var(--text-color);
    }
  }

  .message-time {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: var(--gray-color);
    align-self: flex-end;
  }

  &[data-my="true"] {
    margin-left: auto;
    align-items: flex-end;
    border-radius: 10px 10px 0;

    [data-my="true"] {
      align-items: flex-end;
    }
  }
}
